em{
    color:green;
}
b{
    color:orange;
}
h1{
    color:red;
    font-size:14px;
    /*css注释方式 css优先级高于html*/
}

h1,h2,h3,h4,p,b{
    color: yellow;
}

body{
    /*color:red;*/
    background: black;
}

ul li{
    color:purple ;
}

#q{
    color:red;
}
#w{
    color:blue;
}

.eq{
    color:hsl(120,50%,50%);
    color:hsla(120,50%,50%,0.3);
    color:rgb(120,0,0);
    color:rgba(300,0,0,0.5);
    color: #aab4cf;
    color:red;
    font-size: 20px;
    font-family: "微软雅黑";
    font-style: normal;
    font-weight: 400;
    font-variant: small-caps;


}
p{
    text-indent: 0px;
    color: fuchsia;
   /* text-decoration: line-through;*/
    text-shadow: 1px 0px 0px #ff0000 ; /* 00 红 ff绿 00蓝*/
    /*direction:ltr;*/
   /* letter-spacing: 20px;*/
    line-height: 30px;
    color: white;


}

a{
    text-decoration: none;
}
div{
    width:200px;
    height:200px;
    border:30px inset #00ff00;
    border-color-left:blue;
    border-color-right:yellow;
    border-color-bottom:green;
}
.green_btn {
    height: 35px;
    width: 260px;
    background-color: #2cc64d;
    font-size: 16px;
    margin-top: 13px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #2ab949;
}
.alien {
    width: 255px;
}