em{
    color:green;
}
b{
    color:orange;
}
h1{
    color:red;
    font-size:14px;
    /*css注释方式 css优先级高于html*/
}

h1,h2,h3,h4,p,b{
    color: yellow;
}

body{
    /*color:red;*/
    background: mediumseagreen;
}

ul li{
    color:purple ;
}

#q{
    color:red;
}
#w{
    color:blue;
}

.eq{
    color:hsl(120,50%,50%);
    color:hsla(120,50%,50%,0.3);
    color:rgb(120,0,0);
    color:rgba(300,0,0,0.5);
    color: #aab4cf;
    color:red;
    font-size: 20px;
    font-family: "微软雅黑";
    font-style: normal;
    font-weight: 400;
    font-variant: small-caps;


}
p{
    text-indent: 30px;
    color: fuchsia;
    text-decoration: line-through;
    text-shadow: 1px 0px 0px #ff0000 ; /* 00 红 ff绿 00蓝*/
    /*direction:ltr;*/
    letter-spacing: 20px;
    line-height: 30px;


}

a{
    text-decoration: none;
}
div{
    width:200px;
    height:200px;
    border:30px inset #00ff00;
    border-color-left:blue;
    border-color-right:yellow;
    border-color-bottom:green;
}
.main{
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}