
body{
    background: black;
}

.green_btn {
    height: 35px;
    width: 260px;
    background-color: #2cc64d;
    font-size: 16px;
    margin-top: 13px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #2ab949;
}
.alien {
    width: 255px;
}
td{
    color: #95de0c;
}
